h1 {
    color: blue;
    background:yellowgreen;
    text-align: center;


}
body {
    background: palegreen;
}
div{
    font-size: 60px;
    background: orange;
    text-align: center;
    padding: 30px;
    border: 10px solid black;
    margin: 30px;
}


