
.container {
    background: rgb(252, 156, 209);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .child {
    background: rgb(138, 205, 226);
    padding: .25em;
    margin: 7em;
    display: flex;
    justify-content: center;
  }

    .box1{
    width: 12vmin;
    height: 12vmin;
    background: lightgreen;
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }

  .box2{
    width: 12vmin;
    height: 12vmin;
    background: pink;
    margin: .25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }

  .box3{
    width: 12vmin;
    height: 12vmin;
    background: rgb(60, 140, 245);
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }

  .box4{
    width: 12vmin;
    height: 12vmin;
    background: orange;
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }
  .box5{
    width: 12vmin;
    height: 12vmin;
    background: purple;
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }

  .box6{
    width: 12vmin;
    height: 12vmin;
    background: rgb(0, 102, 128);
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }

  .box7{
    width: 12vmin;
    height: 12vmin;
    background: rgb(255, 137, 255);
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }
  .box8{
    width: 12vmin;
    height: 12vmin;
    background: rgb(229, 250, 40);
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }
  .box9{
    width: 12vmin;
    height: 12vmin;
    background: rgb(62, 185, 109);
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }
  .box10{
    width: 12vmin;
    height: 12vmin;
    background: rgb(85, 47, 36);
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url(//picsum.photos/400);
    background-size: cover;
  }