body{
    background-image: url(gifs/dolphin1.gif);
}


h1{
    text-align: center;
    color:turquoise;
    font-size: 70px;
}

h2{
    text-align: center;
    color: turquoise;
    font-family: cursive;
    font-size: 50px;
}


img{
    width: 200px;
    height:200px;
    margin:1em;
   
}

.nicer-beach{
    position: absolute;
    top:50%;
    left: 50%;
    
}

.nicest-beach{
    width: 200px;
    height:200px;
    margin:1em;
    
}


.palm{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50, -50);
}

.glasses{
     position: absolute;
     right: 100px;
}
