h1{
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    color: rgb(8, 208, 235);
    font-family: cursive;
    font-size: 50px;
}

.box{
    background: seagreen;
    width: 200px;
    height:200px;
    margin:1em;
}

.absolute{
    background: slateblue;
    position: absolute;
    top: 20%;
    left: 50%;
}

.fixed{
    background: slateblue;
    position: fixed;
    top:20%;
    right: 50%;
    
}

