h1{
    color: mediumslateblue;
}

.px{
    font-size: 24px;
}

.container{
    font-size: 30px;
}

.em{
    background-color: mediumturquoise;
    font-size: 1em;
}

.rem{
    font-size: 1rem;
}

.percent-container{
    background: olive;

}


.percent{
    background: palegreen;
    width: 50%;
    height: 20%;
}


.vw{
    background: palevioletred;
    width: 50vw;
}

.vh{
    background: peru;
    
}